mixin pageContent(hasSample)
  .l-pages_content
    if hasSample
      section.sample
        .l-container
          h2.u-hidden 実装サンプル
          .section-body!=html
    if content
      section.desc
        .l-container
          h2 実装手順など解説
          .section-body!=content
    if links && links.length > 0
      section.l-pages_links
        .l-container
          h2 参考サイト・元ネタなど
          ul.section-body
            each item in links
              li
                a(href=item.url, target="_blank", rel="noopener noreferrer").c-btn
                  span=item.title
    if browser
      section
        .l-container
          h2 動作環境
          .section-body
            ul.l-pages_content_caption
              li ○:動作する
              li △:動作するが意図せぬ挙動
              li ☓:動作しない
            .l-pages_table
              table
                thead
                  tr
                    td -
                    th(colspan="3") Mac
                    th(colspan="4") Windows11
                    th(colspan="2") SP
                  tr
                    td ブラウザ
                    th Chrome
                    th Firefox
                    th Safari
                    th Chrome
                    th Firefox
                    th Edge
                    th IE
                    th Safari on iOS
                    th Chrome for Android
                tbody
                  tr
                    th 対応
                    each browserItem,key in browser
                      if key !== 'fieldId'
                        td(data-status=browserItem[0])=browserItem[0]
    if relations.length > 0
        section.l-pages_relations
          .l-container
            h2 関連項目
            ul.section-body.cards.-s
              each item in relations
                li: a(href=`/${item.id}/`)
                  .img(style=`background-image: url(${item.gif ? item.gif.url : 'https://placehold.jp/dedede/5e5e5e/270x180.png?text=Animation'});`)
                  .head=item.name_jp
