-
  var title = name_jp
  var directory = '/pages/'
  var type= 'article';
  var description = `${name_jp}のプレビューページです。`

doctype
html(lang=site.lang)
  head(prefix='og:http://ogp.me/ns# fb:http://ogp.me/ns/fb# ' + type + ':http://ogp.me/ns/' + type + '#')
    include /_include/_meta
    include /_include/_css
    if css
      link(rel="stylesheet", href=`/assets/css/pages/${name_en}.css`)
  body
    .l-wrap
      if fullScreen
        .l-floatArea
          a(href="/").l-floatArea_btn.c-arrowBtn.-l
          button.l-floatArea_btn#js-modal-on ?          
        .l-floatArea_body#js-modal-body
          .head
            .l-container.head_inner
              button.c-arrowBtn.-l#js-modal-off
              p アニマトメ
          .body
          include /_include/_pageContent
          +pageContent(false)
        h1.u-hidden=name_jp
        .contents!=html
        
      else 
        include /_include/_header
        .l-pages(class="pg-"+name_en)
          block wrapContent
            .l-pages_head
              .l-container
                h1=name_jp
            include /_include/_pageContent
            +pageContent(true)

      include /_include/_releaseNote

  include /_include/_js
  if js
    != js