doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    //- 個別タイトル, メタ情報
    title #{name_jp} | アニマトメ
    meta(name="description" content=`アニメーション「${name_jp}」のページです。`)

    include /_include/_css
    if css
      link(rel="stylesheet", href=`/assets/css/pages/${name_en}.css`)
  body
    .l-wrap
      if fullScreen
        !=html
      else 
        include /_include/_header
        .l-pages(class="pg-"+name_en)
          block wrapContent
          .l-container
            .l-pages_head
              h1=name_jp
            .l-pages_content
              section.sample
                !=html
              if content
                section.desc
                  h2 実装手順など解説
                  !=content
              if links && links.length > 0
                section.l-pages_links
                  h2 参考サイト・元ネタなど
                  ul
                    each item in links
                      li: a(href=item.url).c-btn=item.title
              if browser
                section
                  h2 動作環境
                  ul.l-pages_content_caption
                    li ○:動作する
                    li △:動作するが意図せぬ挙動
                    li ☓:動作しない
                  .l-pages_table
                    table
                      thead
                        tr
                          td -
                          th(colspan="3") Mac
                          th(colspan="4") Windows11
                          th(colspan="2") SP
                        tr
                          td ブラウザ
                          th Chrome
                          th Firefox
                          th Safari
                          th Chrome
                          th Firefox
                          th Edge
                          th IE
                          th Safari on iOS
                          th Chrome for Android
                      tbody
                        tr
                          th 対応
                          td(data-status=browser.chrome_mac[0])=browser.chrome_mac[0]
                          td(data-status=browser.firefox_mac[0])=browser.firefox_mac[0]
                          td(data-status=browser.safari[0])=browser.safari[0]
                          td(data-status=browser.chrome_win[0])=browser.chrome_win[0]
                          td(data-status=browser.firefox_win[0])=browser.firefox_win[0]
                          td(data-status=browser.edge[0])=browser.edge[0]
                          td(data-status=browser.ie[0])=browser.ie[0]
                          td(data-status=browser.safari_ios[0])=browser.safari_ios[0]
                          td(data-status=browser.chrome_android[0])=browser.chrome_android[0]
              if relations.length > 0
                section.l-pages_relations
                  h2 関連項目
                  ul
                    each item in relations
                      li: a(href=`/${item.id}/`)=item.name_jp

    if !fullScreen
      include /_include/_releaseNote

  include /_include/_js
  if js
    != js