doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title アニマトメ
    meta(name="description" content="cssアニメーションをまとめたサイト。")
    link(rel="stylesheet", href="/assets/styles/main.css")
    - var imgPath = "/assets/images/"
  body
    .l-wrap
      .p-top
        .p-top_head
          .l-container
            h1
              |アニマトメ
              span -animatome-

        -
          var list = items.map(
            function(item) {
              return item.category
            }
          );
          var categoryList = list.filter(
            function(x, i, self){
              return self.indexOf(x) === i
            }
          );
        
        .p-top_body
          .l-container
            ul.p-top_tab#js-tab
              li.active サンプル
              li リンク
            
            ul.p-top_contents#js-cnt
              li.active
                section
                  h2 サンプル
                  each category in categoryList
                    section
                      h3=category
                      ul.u-flex
                        -
                          var targetItems = items.filter(
                            function(item) {
                              return item.category === category
                            }
                          )
                        each val, key in targetItems
                          li
                            a(href=val.name_en+"/")
                              .img(style="background-image: url("+imgPath+"gif/"+val.name_en+".gif);")
                              h4=val.name_jp
                
              li
                section
                  h2 リンク
                  table
                    thead
                      tr
                        th サイト
                        th カテゴリー
                        th サンプル
                    tbody
                      each val in links
                        tr(id=val.id)
                          td
                            a(href=val.link, target="_blank", rel="noopener noreferrer") #{val.name}
                          td=val.category
                          td 
                            if val.sample
                              a(href=val.sample) あり→
                            else
                              span -

  script(src='https://code.jquery.com/jquery-3.5.1.min.js')
  script(src="/assets/scripts/main.js")
  