extends /_include/_layout
append variables
  - var directory ='/'
  - var imgPath = '/assets/img/'
block css
block js

block body
  main.l-wrap
    .p-top
      .p-top_head
        .l-container
          .title
            h1 アニマトメ#[span -animatome-]

      .p-top_body
        .l-container
          section
            h2 サンプル
            ul
              each val in site.anime
                li
                  a(href=val.id+"_"+val.name_en+"/")
                    if val.gif
                      .img(style="background-image: url("+imgPath+val.name_en+".gif);")
                    else
                      .img(style="background-image: url(https://placehold.jp/dedede/5e5e5e/270x180.png?text=Animation);")
                    h4=val.name_jp

          section
            h2 リンク
            table
              thead
                tr
                  th サイト
                  th カテゴリー
                  th サンプル
              tbody
                each val in site.links
                  tr(id=val.id)
                    th
                      a(href=val.link, target="_blank", rel="noopener noreferrer") #{val.name}
                    td=val.category
                    td
                      if val.sample
                        a(href=val.sample) あり→
                      else
                        span -

          section
            h2 AfterEffects
            table
              thead
                tr
                  th AfterEffectsでつくったもの
              tbody
                each val in site.af
                  tr
                    td
                      a(href=val.link, target="_blank", rel="noopener noreferrer") #{val.name}

      .p-top_releaseNote
        .p-top_releaseNote_ballon.hasNew#js-note-ballon
          img(src=imgPath+"icon-ballon.svg", alt="")
        .p-top_releaseNote_wrap#js-note-wrap
          .p-top_releaseNote_wrap_overlay#js-note-overlay
          .p-top_releaseNote_frame
            .p-top_releaseNote_frame_list#js-note-list
            .p-top_releaseNote_frame_page#js-note-page
              .p-top_releaseNote_frame_head
                button#js-note-back
                p トレセン学園 (3)
              .p-top_releaseNote_frame_body
                ul#js-note-chat
                  