extend _layout/layout

block vars
  - 
    var imgPath = "/assets/images/"
    var hasHeader = false;
    var meta = {
      title: "top",
      desc: "topのページ"
    }

block content
  .p-top
    .p-top_mv
      .l-container
        h1 アニマトメ
    .p-top_items
      .l-container
        ul.u-flex
          each val, key in items
            li
              if val.link
                a(href=val.link)
                  span=val.name
                  img(src=imgPath+val.img, alt="")
              else
                div
                  span=val.name
                  img(src=imgPath+val.img, alt="")
