extends /_include/_layout
append variables
  - var title ='ネタまとめ'
  - var directory ='/neta/'
  - var imgPath = '/assets/img/'
block css
block js

block body
  main.p-under 
    .l-container
      h1 ネタまとめ

      include /_include/_menu
      +Menu(1)

      .p-neta
        ul
          each item in cmsLinks
            li
              a.mainBox(href=item.link, target="_blank", rel="noopener noreferrer")
                .imgWrap
                  -
                    let imgUrl = 'https://placehold.jp/540x300.png'
                    if (item.img) {
                      imgUrl = item.img.url
                    }
                  img(src=imgUrl, alt="")
                .textArea
                  .title=item.title
                  if item.point
                    .ballon=item.point
              if item.hasDetail
                .hasDetail
                  a(href=`/${item.hasDetail.id}/`).c-btn-border= 'サンプルあり'
              

            